html{
    font-size: 26.667vw;
}
li{
    list-style: none;
}
*{
    padding: 0;
    margin: 0;
}
body{
    font-size: 16px;
}
/* ***************头部****************/
/*********header-top**********/
.header{
    height: 78px;
    width: 100vw;
    /* background-color: aquamarine; */
    position: fixed;
    top: 0;
}
.header .header-top{
    background-color: #f11c1c;
    height: 40px;
    display: flex;
    padding: 0 14px;
    align-items: center;
    justify-content: space-between;
}
.header .header-top .sousuo{
    width: 240px;
    height: 28px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.header .header-top .sousuo span{
    font-size: 20px;
}
.header .header-top .sousuo input{
    width: 204px;
    height: 26px;
    border: none;
    /* margin-left: 12px; */
}
/*********header-bottom**********/
.header .header-bottom{
    height: 40px;
    background-color: white;
    padding: 0 12px;
    box-shadow: 0 0 2px rgb(59, 59, 59);
    /* border-bottom: 1px solid rgb(116, 115, 115); */
}
.header .header-bottom ul{
    display: flex;
    overflow: auto;
}
.header-bottom ul li{
    width: 20%;
    flex-shrink: 0;
    font-size: 16px;
    text-align: center;
    line-height: 40px;
}
.header-bottom ul li:nth-child(2){
    color: black;
    font-weight: bolder;
    position: relative;
    font-size:18px ;
}
.header-bottom ul li:nth-child(2)::after{
    content: "";
    width: 16px;
    height: 2px;
    position: absolute;
    bottom: 4px;
    left: 24px;
    background-color: rgb(226, 3, 3);
}
/* ***************内容区****************/
.content{
    background-color: #f5f3f3;
    flex: 1;
    margin-top: 78px;
    padding: 0 14px;
    margin-bottom: 48px;
}
.content .content-lun{
    /* background-color: aquamarine; */
    height: 100px;
    border-radius: 6px;
    margin-top: 85px;
    /* margin-bottom: 10px; */
}
.content .content-lun img{
    width: 100%;
    height: 100%;
    border-radius: 6px;
}
.content .content-daohang{
    /* background-color: rgb(169, 233, 85); */
    height: 80px;
    border-radius: 6px;
}
.content .content-daohang ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
    /* line-height: 100px; */
}
.content .content-daohang ul li{
    height: 80px;
    width: 65px;
    /* background-color: blueviolet; */
    margin-top: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
}
.content .content-daohang ul li:nth-child(1) span{
    color: rgb(250, 155, 31);
}
.content .content-daohang ul li:nth-child(2) span{
    color: rgb(223, 55, 25);
}
.content .content-daohang ul li:nth-child(3) span{
    color: rgb(142, 20, 167);
}
.content .content-daohang ul li:nth-child(4) span{
    color: rgb(76, 107, 247);
}
.content .content-daohang ul li span{
    display: inline-block;
    height: 30px;
    font-size: 50px;
}
.content .content-daohang ul li p{
    margin-top: 26px;
    font-size: 14px;
    color: rgb(53, 52, 53);
}
.content .content-huodong{
    /* background-color: rgb(92, 134, 252); */
    height: 80px;
    border-radius: 6px;
}
.content .content-huodong ul{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.content .content-huodong ul li{
    height: 30px;
    width: 95px;
    background-color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    padding: 10px 6px;
    border-radius: 5px;
}
.content .content-huodong ul li span{
    display: inline-block;
    height: 20px;
    font-size: 12px;
    color: rgb(87, 87, 90);
}
/* ********content-first*********/
.content .content-first .tou{
    height: 30px;
    /* background-color: coral; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
}
.content .content-first .tou span{
    display: inline-block;
    color: rgb(49, 49, 49);
    font-size: 12px;
}
.content .content-first .reying{
    height: 200px;
    /* background-color: rgb(60, 85, 11); */
}
.content .content-first .reying ul{
    display: flex;
    overflow: auto;
}
.content-first .reying ul li{
    width: 100px;
    height: 175px;
    margin-right: 8px;
    flex-shrink: 0;
    font-size: 16px;
    text-align: center;
    /* line-height: 100px; */
    /* background-color: rgb(228, 173, 184); */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 5px;
}
.content-first .reying ul li img{
    width: 100px;
    height: 120px;
    margin-bottom: 3px;
    border-radius: 5px;
}
.content-first .reying ul li p{
    margin-top: 3px;
    width: 50px;
    height: 20px;
    background-color: crimson;
    color: white;
    border-radius: 10px;
    text-align: center;
    line-height: 20px;
}
.content-first .reying ul li span{
    width: 100px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 14px;
    color: black;
}
/* ********content-second*********/
.content .content-second .tou{
    height: 30px;
    /* background-color: coral; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
}
.content .content-second .tou span{
    display: inline-block;
    color: rgb(49, 49, 49);
    font-size: 12px;
}
.content .content-second .reying{
    height: 200px;
    /* background-color: rgb(60, 85, 11); */
}
.content .content-second .reying ul{
    display: flex;
    overflow: auto;
}
.content-second .reying ul li{
    width: 100px;
    height: 175px;
    margin-right: 8px;
    flex-shrink: 0;
    font-size: 16px;
    text-align: center;
    /* background-color: rgb(228, 173, 184); */
    display: flex;
    flex-direction: column;
    align-items: center;
    
    border-radius: 5px;
}
.content-second .reying ul li img{
    width: 100px;
    height: 120px;
    margin-bottom: 3px;
    border-radius: 5px;
}
.content-second .reying ul li span{
    width: 100px;
    font-size: 14px;
    display: inline-block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.content-second .reying ul li p{
    margin-top: 3px;
    width: 50px;
    height: 20px;
    background-color: rgb(77, 103, 218);
    color: white;
    border-radius: 10px;
    line-height: 20px;
    
}
/* ********content-three*********/
.content .content-three .tou{
    height: 30px;
    /* background-color: coral; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    line-height: 30px;
}
.content .content-three .tou span{
    display: inline-block;
    color: rgb(49, 49, 49);
    font-size: 12px;
}
.content .content-three .reying{
    height: 200px;
    /* background-color: rgb(60, 85, 11); */
}
.content .content-three .reying ul{
    display: flex;
    overflow: auto;
}
.content-three .reying ul li{
    width: 100px;
    height: 175px;
    margin-right: 8px;
    flex-shrink: 0;
    font-size: 16px;
    text-align: center;
    /* line-height: 100px; */
    /* background-color: rgb(228, 173, 184); */
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    border-radius: 5px;
}
.content-three .reying ul li img{
    width: 100px;
    height: 120px;
    margin-bottom: 3px;
    border-radius: 5px;
}
.content-three .reying ul li span{
    font-size: 10px;
    display: inline-block;
    width: 70px;
    background-color: rgb(255, 159, 50);
    color: white;

}
.content-three .reying ul li p{
    font-size: 14px;
    margin-top: 3px;
    height: 20px;
    /* background-color: rgb(77, 103, 218); */
    color: black;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
/* ********content-four*********/
.content .content-four{
    display: flex;
    flex-direction: row;
}
.content .content-four .left{
    width: 48%;
    margin-right: 12px;
}
.content .content-four .left ul li{
    height: 240px;
    background-color: white;
    margin-bottom: 8px;
    font-size: 15px;
    border-radius: 5px;
}
.content .content-four .left ul li img{
    height: 150px;
    width: 100%;
    border-radius: 5px;
}
.content .content-four .right{
    width: 48%;
    /* margin-right: 2px; */
}
.content .content-four .right ul li{
    height: 190px;
    background-color: white;
    margin-bottom: 8px;
    font-size: 15px;
    border-radius: 5px;
}
.content .content-four .right ul li img{
    height: 120px;
    width: 100%;
    border-radius: 5px;
}
/* ***************尾部****************/
.footer{
    height: 48px;
    width: 100vw;
    background-color: white;
    position: fixed;
    bottom: 0;
    margin-left: -14px;
    box-shadow: 0 0 1px black;
}
.footer ul{
    height: 48px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.footer ul li span{
    font-size: 26px;
}
.footer ul li:first-child span{
    color: rgb(245, 59, 115);
}
.footer ul li h3{
    font-size: 10px;
    color: #7e7e7e;
}
.footer ul li:first-child h3{
    color: rgb(245, 59, 115);
}