<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>电影/影院</title>
    <link rel="stylesheet" href="./css/dianying.css">
    <link rel="stylesheet" href="./img/download (2)/font_2367595_c1u80xa1zah/iconfont.css">
</head>
<body>
    <!-- 头部 -->
    <div class="header">
        <div class="header-top">
            <p>重庆
                <span class="iconfont icon-xiajiantou"></span>
            </p>
        <ul>
            <li v-for="i in top">{{i}}</li>
        </ul>
        <span class="iconfont icon-sousuo"></span>
        </div>
        <div class="header-bottom">
            <ul>
                <li v-for="j in bottom">{{j}}&nbsp;<span :class="className"></span></li>
            </ul>
        </div>
    </div>
    <!-- 内容区 -->
    <div class="content">
        <ul>
            <li v-for="xinxi in dianying">
                <div class="one"> 
                    <h3>{{xinxi.position}}</h3>
                    <p>
                        <span class="money">{{xinxi.price}}元</span>
                        <span class="zi">起</span>
                    </p>
                </div>
                <div class="two">
                    <p>{{xinxi.xiangxi}}</p>
                    <span>{{xinxi.juli}}</span>
                </div>
                <div class="three">
                    <ul>
                        <li v-for=" k in xx">{{k}}</li>
                    </ul>
                </div>
                <div class="four">
                    <p><span>惠</span>{{xinxi.hui}}</p>
                </div>
                <div class="five">
                    <p><span>卡</span>{{xinxi.ka}}</p>
                </div>
            </li>
        </ul>
    </div>
    <!-- 尾部 -->
    <div class="footer">
            <ul>
                <li v-for="i in mag">
                    <span :class="i.className"></span>
                     <h3>{{i.zi}}</h3>
                </li>
            </ul>
    </div>
</body>
</html>
<script src="./js/vue.js"></script>
<script>
        let vm=new Vue({
            el:".header",
            data:{
                top:["热映","影院","待映"],
                bottom:["品牌","全城","距离近","筛选"],
                className:"iconfont icon-caret-down"
            }
        })
        let vm1=new Vue({
            el:".content",
            data:{
                dianying:[
                {
                    position:"秀山中影南方影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"保利万和国际影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"棚烨影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"汇龙国际电影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"酉阳电影院",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"太平洋影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"万和国际影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"紫鑫影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"秀山中影南方影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"保利万和国际影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"棚烨影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"汇龙国际电影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"酉阳电影院",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"太平洋影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"万和国际影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"紫鑫影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"秀山中影南方影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"保利万和国际影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"棚烨影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"汇龙国际电影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"酉阳电影院",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"太平洋影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"万和国际影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
                {
                    position:"紫鑫影城",
                    price:"33",
                    xiangxi:"秀山土家族苗族自治县物流园区微电影12号楼",
                    juli:"27.5km",
                    hui:"你好，李焕英等4部电影特惠",
                    ka:"开卡特惠，5.9元起开卡"
                },
            ],
            xx:["退","改签","小吃","折扣卡"],
            }
        })

        let vm2 = new Vue({
            el:".footer",
            data:{
                mag:[
                    {
                        className:"iconfont icon-shouye",
                        zi:"首页"
                    },
                    {
                        className:"iconfont icon-dianyingyuan",
                        zi:"电影院"
                    },
                    {
                        className:"iconfont icon-xiaoshipinyingshi48",
                        zi:"小视频"
                    },
                    {
                        className:"iconfont icon-yanchu",
                        zi:"演出"
                    },
                    {
                        className:"iconfont icon-ren",
                        zi:"我的"
                    }
                ]
            }
        })
    </script>