<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>首页</title>
    <link rel="stylesheet" href="./css/shouye.css">
    <link rel="stylesheet" href="./img/download (2)/font_2367595_c1u80xa1zah/iconfont.css">
</head>
<body>
    <!-- 头部 -->
<div class="header">
        <div class="header-top">
            <p>重庆
                <span class="iconfont icon-caret-down"></span>
            </p>
            <p class="sousuo">
                <span class="iconfont icon-sousuo"></span>
                <input type="text" placeholder="唐人街探案3">
            </p>
        </div>
        <div class="header-bottom">
            <ul>
                <li v-for="i in bottom">{{i}}</li>
            </ul>
        </div>
    </div>
    <!-- 内容区 -->
    <div class="content">
        <div class="content-lun">
            <img src="img/zx/14.jpg" alt="">
        </div>
        <div class="content-daohang">
            <ul>
                <li>
                    <span class="iconfont icon-dianyingyuan"></span>
                    <p>电影影院</p>
                </li>
                <li><span class="iconfont icon-luxiang"></span>
                    <p>电影影院</p></li>
                <li><span class="iconfont icon-yinle"></span>
                    <p>电影影院</p></li>
                <li><span class="iconfont icon-nongtian"></span>
                    <p>电影影院</p></li>
            </ul>
        </div>
        <div class="content-huodong">
            <ul>
                <li v-for="j in huodong">
                    {{j.item}}
                    <span>{{j.title}}</span>
                </li>
                
            </ul>
        </div>
        <div class="content-first">
            <div class="tou">
                <h3>正在热映</h3>
                <span>全部48部 ></span>
            </div>
            <div class="reying">
                <ul>
                    <li v-for="k in reying">
                        <img :src="k.img" alt="">
                        <span>{{k.spp}}</span>
                        <p>{{k.p}}</p>
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-second">
             <div class="tou">
                <h3>即将上映</h3>
                <span>全部33部 ></span>
             </div>
             <div class="reying">
                 <ul>
                     <li v-for="pi in shangying">
                            <img :src="pi.img" alt="">
                        <span>{{pi.spp}}</span>
                        <p>{{pi.p}}</p>
                     </li>
                </ul>
            </div>
        </div>
        <div class="content-three">
                <div class="tou">
                   <h3>精彩演出</h3>
                   <span>查看全部 ></span>
                </div>
                <div class="reying">
                    <ul>
                        <li v-for="yc in yanchu">
                            <img :src="yc.img" alt="">
                           <span>{{yc.spp}}</span>
                           <p>{{yc.p}}</p>
                        </li>
                   </ul>
               </div>
               <div class="content-four">
                   <div class="left">
                       <ul>
                            <li v-for="x in left">
                               <img :src="x.img" alt="">
                               <p>{{x.p}}</p>
                            </li>
                       </ul>
                   </div>
                   <div class="right">
                        <ul>
                             <li v-for="y in right">
                                <img :src="y.img" alt="">
                                <p>{{y.p}}</p>
                             </li>
                        </ul>
                    </div>
               </div>
    
    </div>
    <!-- 尾部 -->
    <div class="footer">
            <ul>
                <li v-for="i in mag">
                    <span :class="i.className"></span>
                     <h3>{{i.zi}}</h3>
                </li>
            </ul>
    </div>
</body>
</html>
<script src="./js/vue.js"></script>
<script>
    let vm = new Vue({
        el:".header",
        data:{
            bottom:["放映厅","推荐","预告","热映","说电影","佳片","盘点","热播剧"]
        }
    })
    let vm1 = new Vue({
        el:".content",
        data:{
            daohang:["电影影院","放映厅","演出赛事","剧集综艺"],
            huodong:[
                {
                    item:"砍价专区",
                    title:"0元观影"
                },
                {
                    item:"砍价专区",
                    title:"0元观影"
                },
                {
                    item:"砍价专区",
                    title:"0元观影"
                }
            ],
            reying:[
                {
                    img:"./img/zs/1.jpg",
                    spp:"大红包",
                    p:"购票"
                },
                {
                    img:"./img/zs/2.jpg",
                    spp:"送你一朵小红花",
                    p:"购票"
                },
                {
                    img:"./img/zs/3.jpg",
                    spp:"吉祥如意",
                    p:"购票"
                },
                {
                    img:"./img/zs/4.jpg",
                    spp:"许愿神龙",
                    p:"购票"
                },
                {
                    img:"./img/zs/5.jpg",
                    spp:"心灵奇旅",
                    p:"购票"
                },
                {
                    img:"./img/zs/6.jpg",
                    spp:"温暖的抱抱",
                    p:"购票"
                },
                {
                    img:"./img/zs/7.jpg",
                    spp:"武汉日夜",
                    p:"购票"
                },
                {
                    img:"./img/zs/8.jpg",
                    spp:"拆弹专家2",
                    p:"购票"
                },
                {
                    img:"./img/zs/9.jpg",
                    spp:"叱咤风云",
                    p:"购票"
                },
                {
                    img:"./img/zs/10.jpg",
                    spp:"缉魂",
                    p:"购票"
                },
                {
                    img:"./img/zs/11.jpg",
                    spp:"紧急救援",
                    p:"购票"
                },
                {
                    img:"./img/zs/12.jpg",
                    spp:"悬崖上得波妞",
                    p:"购票"
                },
                {
                    img:"./img/zs/13.jpg",
                    spp:"小伟",
                    p:"购票"
                },
                {
                    img:"./img/zs/14.jpg",
                    spp:"疯狂原始人2",
                    p:"购票"
                },
                {
                    img:"./img/zs/15.jpg",
                    spp:"海底小纵队：火焰之环",
                    p:"购票"
                }
            ],
            shangying:[
                {
                    img:"./img/jj/1.jpg",
                    spp:"唐人街探案3",
                    p:"预售"
                },
                {
                    img:"./img/jj/2.jpg",
                    spp:"你好，李焕英",
                    p:"预售"
                },
                {
                    img:"./img/jj/3.jpg",
                    spp:"刺杀小说家",
                    p:"预售"
                },
                {
                    img:"./img/jj/4.jpg",
                    spp:"新神榜：哪吒重生",
                    p:"预售"
                },
                {
                    img:"./img/jj/5.jpg",
                    spp:"熊出没-狂野大陆",
                    p:"预售"
                },

                {
                    img:"./img/jj/6.jpg",
                    spp:"人潮汹涌",
                    p:"预售"
                },
                {
                    img:"./img/jj/7.jpg",
                    spp:"侍神令",
                    p:"预售"
                },
                {
                    img:"./img/jj/8.jpg",
                    spp:"猫和老鼠",
                    p:"预售"
                },
                {
                    img:"./img/jj/9.jpg",
                    spp:"世界有她",
                    p:"预售"
                },
                {
                    img:"./img/jj/10.jpg",
                    spp:"怒火-重案",
                    p:"预售"
                },
                {
                    img:"./img/jj/11.jpg",
                    spp:"非正式爱情",
                    p:"预售"
                },
                {
                    img:"./img/jj/12.jpg",
                    spp:"幸运电梯",
                    p:"预售"
                },
                {
                    img:"./img/jj/13.jpg",
                    spp:"西游记之再世妖王",
                    p:"预售"
                },
                {
                    img:"./img/jj/14.jpg",
                    spp:"风来风去",
                    p:"预售"
                },

                {
                    img:"./img/jj/15.jpg",
                    spp:"我心飞扬",
                    p:"预售"
                },
                {
                    img:"./img/jj/16.jpg",
                    spp:"第十一回",
                    p:"预售"
                },
                {
                    img:"./img/jj/17.jpg",
                    spp:"阳光劫匪",
                    p:"预售"
                },
                {
                    img:"./img/jj/18.jpg",
                    spp:"我的姐姐",
                    p:"预售"
                },
                {
                    img:"./img/jj/19.jpg",
                    spp:"日暮",
                    p:"预售"
                },
                {
                    img:"./img/jj/20.jpg",
                    spp:"梦醒黄金城",
                    p:"预售"
                },

            ],
            yanchu:[
                {
                    img:"./img/yc/1.jpg",
                    spp:"套票7折起",
                    p:"传奇之声 皇后乐队致敬音乐会 2021 新年特辑"
                },
                {
                    img:"./img/yc/2.jpg",
                    spp:"套票7折起",
                    p:"【牛奶咖啡主唱】仙羽2021巡回演唱会上海站"
                },
                {
                    img:"./img/yc/3.jpg",
                    spp:"套票7折起",
                    p:"【珍珠剧场】阿黛尔&艾德希兰 致敬音乐会"
                },
                {
                    img:"./img/yc/4.jpg",
                    spp:"套票7折起",
                    p:"月亮代表我的心--邓丽君经典歌曲演唱会"
                },
                {
                    img:"./img/yc/5.jpg",
                    spp:"套票7折起",
                    p:"《无人生还》"
                },
                {
                    img:"./img/yc/6.jpg",
                    spp:"套票7折起",
                    p:"推理音乐剧《小说》"
                },
                {
                    img:"./img/yc/7.jpg",
                    spp:"套票7折起",
                    p:"侵入式戏剧《金钱世界》"
                },
                {
                    img:"./img/yc/8.jpg",
                    spp:"套票7折起",
                    p:"开心麻花爆笑舞台剧《婿事待发》"
                },
            ],
            left:[
                {
                    img:"./img/zx/1.jpg",
                    p:"雪村俞晴新电影三大男主海报曝光 王千源魏晨变身救援队活雷锋"
                },
                {
                    img:"./img/zx/2.jpg",
                    p:"《侍神令》终极预告点燃两界决战 陈坤热血斗技演绎春节最犇大片"
                },
                {
                    img:"./img/zx/3.jpg",
                    p:"《温暖的抱抱》常远《怪可爱的》MV 治愈喜剧陪伴观众欢乐过年"
                },

                {
                    img:"./img/zx/4.jpg",
                    p:"殿堂级大师梅林茂为《侍神令》配乐陈坤周迅携群星共献绝美视盛宴"
                },
                {
                    img:"./img/zx/5.jpg",
                    p:"雪村俞晴新电影三大男主海报曝光 王千源魏晨变身救援队活雷锋"
                },

                {
                    img:"./img/zx/6.jpg",
                    p:"疫情题材电影火热，第一批面世作品表现如何？"
                },
                {
                    img:"./img/zx/7.jpg",
                    p:"电影《刿心剑》横店开机，开辟锦衣卫电影“新世界”"
                },
                {
                    img:"./img/zx/16.jpg",
                    p:"迪士尼《寻龙传说》确认引进，超飒女战士即将燃爆银幕！"
                },
                {
                    img:"./img/zx/17.jpg",
                    p:"《唐人街探案3》将有CINITY AMR 120帧版本上映"
                },
                {
                    img:"./img/zx/18.jpg",
                    p:"11、12月电视剧备案：主旋律题材层出不穷，《士兵突击》班底再拍新剧"
                },
                {
                    img:"./img/zx/19.jpg",
                    p:"春节档电影《新神榜：哪吒重生》开启点映 终极预告大战一触即发"
                },
                {
                    img:"./img/zx/20.jpg",
                    p:"《没有过不去的年》直戳泪腺 用镜头洞察城市人群内心变迁"
                },
                {
                    img:"./img/zx/21.jpg",
                    p:"喜剧电影《第十一回》发布角色海报 陈建斌周迅新形象引期待"
                },
                {
                    img:"./img/zx/22.jpg",
                    p:"《猫和老鼠》电影定档2月26日 最佳损友邀你电影院笑闹元宵"
                },
            ],
            right:[
                {
                    img:"./img/zx/8.jpg",
                    p:"《唐人街探案3》将有CINITY AMR 120帧版本上映"
                },
                {
                    img:"./img/zx/9.jpg",
                    p:"恐怖电影《错爱迷踪》剥皮换面 将于3月5日惊悚上映！"
                },
                {
                    img:"./img/zx/10.jpg",
                    p:"《猫和老鼠》电影定档2月26日 最佳损友邀你电影院笑闹元宵"
                },

                {
                    img:"./img/zx/11.jpg",
                    p:"《归徒追凶》：归徒，不是归途"
                },
                {
                    img:"./img/zx/12.jpg",
                    p:"电影《又见奈良》定档3月19日 开年口碑佳作温暖上映"
                },
                {
                    img:"./img/zx/13.jpg",
                    p:"《正青春》剧情高潮迭起 吴谨言殷桃上演“神仙师徒情”"
                },

                {
                    img:"./img/zx/14.jpg",
                    p:"电影《好想去你的世界》曝海报预告：周依然施柏宇弹琴说爱"
                },
                {
                    img:"./img/zx/15.jpg",
                    p:"2021年春节档，“黑马”已就位"
                },
                {
                    img:"./img/zx/23.jpg",
                    p:"《白蛇2：青蛇劫起》首曝概念海报 联动《哪吒重生》献片尾彩蛋"
                },

                {
                    img:"./img/zx/24.jpg",
                    p:"《正青春》持续热播 吴谨言殷桃折射新时代女性感情观"
                },
                {
                    img:"./img/zx/25.jpg",
                    p:"Netflix的2020：付费会员破2亿，现金流转正"
                },
                {
                    img:"./img/zx/26.jpg",
                    p:"春节档视效大片《刺杀小说家》曝导演特辑 路阳头发拍白了"
                },
                {
                    img:"./img/zx/27.jpg",
                    p:"“美强憨”陈坤重演晴明与鬼赤对戏 《侍神令》影游“神仙联动”"
                },
                {
                    img:"./img/zx/28.jpg",
                    p:"第六届迷影精神赏奖项公布 《野马分鬃》获“年度推荐影片"
                },
                {
                    img:"./img/zx/29.jpg",
                    p:"《正青春》聚焦女性议题 吴谨言殷桃再临情感考验"
                },
                {
                    img:"./img/zx/30.jpg",
                    p:"预售进行中！《熊出没·狂野大陆》曝“狮子强”版海报"
                },
                {
                    img:"./img/zx/25.jpg",
                    p:"Netflix的2020：付费会员破2亿，现金流转正"
                },
            ]
        }
    })
    let vm2 = new Vue({
            el:".footer",
            data:{
                mag:[
                    {
                        className:"iconfont icon-shouye",
                        zi:"首页"
                    },
                    {
                        className:"iconfont icon-dianyingyuan",
                        zi:"电影院"
                    },
                    {
                        className:"iconfont icon-xiaoshipinyingshi48",
                        zi:"小视频"
                    },
                    {
                        className:"iconfont icon-yanchu",
                        zi:"演出"
                    },
                    {
                        className:"iconfont icon-ren",
                        zi:"我的"
                    }
                ]
            }
        })
</script>